/* Add here all your CSS customizations */

.TODO{
  display: none;
}
.CARGADOR{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: /*30 derecha 50 abajo */
       url('./img/loaders/img05.jpeg') 15% 50% no-repeat,
       url('./img/loaders/img04.jpeg') 50% 50% no-repeat,                                     ,
       url('./img/loaders/img06.jpeg') 85% 50% no-repeat,
       rgb(255, 255, 255);
  opacity: 1;
  animation-name: cargas;
  animation-duration: 7s;
}
/* Add here all your CSS customizations https://www.w3schools.com/css/css3_animations.asp
https://www.youtube.com/watch?v=y6QgfqLGUAU*/
@keyframes cargas {
0%{background: url('./img/loaders/img05.jpeg') 15% 50% no-repeat }
40%{background: url('./img/loaders/img04.jpeg') 50% 50% no-repeat}
65%{background: url('./img/loaders/img06.jpeg') 85% 50% no-repeat}
100%{background: url('./img/loaders/img05.jpeg') 15% 50% no-repeat, url('./img/loaders/img04.jpeg') 50% 50% no-repeat,url('./img/loaders/img06.jpeg') 85% 50% no-repeat}        
}

.CARGADOR1{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: /*30 derecha 50 abajo */
       url('./img/loaders/img01.jpeg') 15% 50% no-repeat,
       url('./img/loaders/img02.jpeg') 50% 50% no-repeat,                                     ,
       url('./img/loaders/img03.jpeg') 85% 50% no-repeat,
       rgb(255, 255, 255);
  opacity: 1;
  animation-name: carga;
  animation-duration: 7s;
}
/* Add here all your CSS customizations https://www.w3schools.com/css/css3_animations.asp
https://www.youtube.com/watch?v=y6QgfqLGUAU*/
@keyframes carga {
0%{background: url('./img/loaders/img01.jpeg') 15% 50% no-repeat }
40%{background: url('./img/loaders/img02.jpeg') 50% 50% no-repeat}
65%{background: url('./img/loaders/img03.jpeg') 85% 50% no-repeat}
100%{background: url('./img/loaders/img01.jpeg') 15% 50% no-repeat, url('./img/loaders/img02.jpeg') 50% 50% no-repeat,url('./img/loaders/img03.jpeg') 85% 50% no-repeat}        
}
